/* Base styles for body */
body {
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url("https://images.unsplash.com/photo-1707345512638-997d31a10eaa?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.5rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: 0 0 5rem rgba(0,0,0,0.5);
}

/* Container for content with max-width */
.cover-container {
    max-width: 60vw;
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add padding to the sides */
}

/* Navigation links */
.nav-link {
    padding: 0.25rem;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

/* Hover effect for navigation links */
.nav-link:hover {
    color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
}

/* Active navigation link */
.nav-link.active {
    color: white;
}

/* Button styles */
.btn-secondary,
.btn-secondary:hover {
    font-weight: 700;
    color: #333;
    text-shadow: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    body {
        height: auto; /* Remove fixed height */
    }

    .cover-container {
        max-width: 100%; /* Adjust to full width */
        padding: 0 10px; /* Reduce padding on smaller screens */
    }

    .nav-link {
        margin: 0.5rem 0; /* Add vertical spacing between navigation links */
        display: block; /* Make navigation links stack vertically */
        text-align: center; /* Center-align navigation links */
        border-bottom: none; /* Remove border bottom for mobile layout */
    }
}
