<% layout('layouts/boilerplate') %>



<link rel="stylesheet" href="/stylesheet/about.css">

<body>
    
    <main id="about">
        <section >
            <h2>Story</h2>
            <p>Welcome to our OpenMarket Hub</p>
            <p >Welcome to my website! I'm Chernet Mekuria, a third-year Electrical and Computer Engineering student at Addis Ababa Institute of Technology, with a focus on web development. Alongside my studies, I have developed the EduTrack desktop application and various other projects. I am passionate about leveraging technology to create impactful solutions. If you have any questions or would like to connect, please feel free to reach out to me at chernet@gmail.com. I'm excited to share more about my work and discuss opportunities for collaboration!</p>
        </section>
        
        <section id="team">
           <div class="team-member">
                <img src="https://res.cloudinary.com/dsa1gjnyd/image/upload/v1713169185/YelpCamp/kp0cqrlrqyzooii0o2ve.jpg" alt="Team Member 1">
                <h3>Chernet Mekuria</h3>
                <p>CEO</p>
            </div>
            
        </section>
    </main>

